<div class="navbar-container">
  <nav class="navbar">
    <div class="brand-title">The Simple Meal app</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span> <!--tri linije prave toggle-->
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            
            <li><a routerLink="login" id="loginBtn" routerLinkActive="active">Login</a></li>
           <!--  <li><a (click)="logOut()" id="logoutBtn" >Log out</a></li> -->

        </ul>
    </div>
  </nav>
</div>

<div class="image-container">
  <div id="container-content" class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Simple task internship 2022</span>
  </div>
</footer>
