<div id="loginDiv" class="col-md-6 offset-md-3">
    <h1>Dentist login</h1>
    <form class="login-form" (ngSubmit)="onSubmit()">
    <!--
      <div class="form-group">
        <h3>Username </h3>
        <input type="text" class="login" id="login" name="username" [(ngModel)] = login.username>
        
      </div>
  
  
      <div class="form-group">
        <h3>Password </h3>
        <input type="text" class="login" id="login" name="password" [(ngModel)] = login.password>
      </div>

    
  -->
      <!-- <div class="form-group">
        <button mat-button id="loginBtn" type="submit" class="btn btn-success">Login</button>
  
      </div> -->
     <!-- <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <button mat-button>Hello world</button>
      </div>

    -->

     
  
  
    </form>
  </div>
  